body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('susan-q-yin-2JIvboGLeho-unsplash.jpg');
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px; 
  background-color: white;
  gap: 10px;
}

.logo-icon {
  display: inline-block;
  width: 50px;
}

.attribution {
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
}

.container {
  display: grid;
  grid-template: 10% 1fr / 1fr;
  height: 100vh;
}

.card-grid-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 20%));
  gap: 20px;
}

.card {
  background-color: white;
  border-top: 8px solid gold;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 20px;
  box-shadow: 3px 3px 3px darkgrey;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.read,
button {
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 12px;
  padding: 3px 20px;
  transition-duration: 0.2s;
  cursor: pointer;
  width: 120px;
  margin-top: 10px;

}

form {
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.content {
  padding-left: 50px;
}

.read:hover {
  color: white;
  background-color: green;
}

.finished {
  border-color:green;
  color: white;
  background-color: green;
}

.delete {
  display: inline-block;
  cursor: pointer;
}
  
